name: docker int container

on:
  push:
    branches:
      - "cdc_int_container"
  pull_request:
    branches:
      - "main"
  
  # can run workflow manually 
  workflow_dispatch:

jobs:
  push_to_directory:
    # only when code is compiling + tests passing
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Set variables
      uses:
        flagbase_key: $ {{ secrets.FLAGBASE_KEY }}
    - name: Docker Login
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with: 
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Extract metadata
      id: meta
      uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
      with:
        images: ${{ secrets.DOCKER_USER }}/h14bbravo

    - name: Docker Push
      uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
      with:
        context: .
        file: code/cdc_int_scrape/Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USER }}/h14bbravo:latest